html,body{
    background-color: black;
    width: 100vw;
    height: auto;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@media screen and (min-width:700px){
    .notMobile{
        font-size: small;
        text-align: center;
    }
}