html,body{
    overflow-x: hidden;
}

@keyframes theChange{
   0%{
    margin-left: 0;
   }
   50%{
    margin-left: -275px;
   }
   100%{
    margin-left: -530px;
   }
}
.webD{
    animation: theChange 12s infinite; 
}

.roles{
    background-color: rgba(60, 7, 100, 0.29);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    word-spacing: 2px;
    font-size: 1.7rem;
}

.navBtns {
    position: relative;
    text-decoration: none;
  }
  
.navBtns:focus::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 25%;
    height: 3px;
    background-color: white;
    border-radius: 10px;
}

.sets:hover{
    background-color: rgba(60, 7, 100, 0.29);
}