.goto{
    animation: goto 2s ease-in 0 infinite;

}

@keyframes goto{
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(5px);
    }
    100% {
        transform: translateX(0);
    }
}