/* @media screen and (min-width: 1300px) {
    .slide{
     height: 590px;
    }
}
@media screen and (min-width: 1500px) {
    .slide{
     height: 660px;
    }
}
@media screen and (min-width: 1740px) {
    .slide{
     height: 730px;
    }
} */